@model Planner.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an event</h2>
@using (Html.BeginForm("Create", "Event", null, FormMethod.Post ,new { enctype = "multipart/form-data" }))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label style="color: aliceblue">Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        <label style="color: aliceblue">Venue</label>
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Venue)
    </div>
    <div class="form-group">
        <label style="color: aliceblue">Date</label>
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "eg 1 Jan 2015" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        <label style="color: aliceblue">Time</label>
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 20:00" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        <label style="color: aliceblue">Category</label>
        @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Category)
    </div>
    <div>
        <label style="color: aliceblue">Image</label>
        @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" ,style="color:aliceblue"})
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
