@using Planner.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-6 col-sm-offset-3">
        <div>
            <div class="">
                <h2>Login to our site</h2>
<<<<<<< HEAD
                <p style="font-size: 15px;">Enter your address email and password to log on:</p>
=======
                <p style="font-size: 17px;">Enter your address email and password to log on:</p>
>>>>>>> master
            </div>
        </div>
        <div class="">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-12">                      
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
<<<<<<< HEAD
                            <br/>
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            <br/>
=======
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
>>>>>>> master
                            @Html.TextBoxFor(m => m.Email, new {@class = "textBox", placeholder = "Emial address"})
                            @Html.PasswordFor(m => m.Password, new {@class = "textBox", placeholder = "Your password"})
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger" style="margin-left: 150px;">Sign in!</button>
                }
            </section>
        </div>
    </div>
</div>
<<<<<<< HEAD
<div class="row" >
=======
<div class="row" style="margin-bottom: 300px;">
>>>>>>> master
    <div class="col-sm-6 col-sm-offset-3 ">
        <h3>...or login with:</h3>

        <div class="form-group">
            <div class="col-md-12">
                <button class="loginBtn loginBtn--facebook">
                    Login with Facebook
                </button>

                <button class="loginBtn loginBtn--google">
                    Login with Google
                </button>
            </div>
        </div>

    </div>
</div>
